<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="CadenaConexion_HSW" value="Data Source=SOFTRONEL-PC\HTTSQLSERVE;Initial Catalog=HSW;Integrated Security=SSPI;"/>-->
    <add key="RutaCatalogoImagenes" value="C:\\inetpub\\wwwroot\\humansoft\\iconos-imagenes"/>
    <add key="RutaLog" value="C:\\inetpub\\wwwroot\\humansoft\\Log.txt"/>
    <!--Configuración de servidor de e-mail -->
    <add key="UsuarioEmail" value="emmelopez"/>
    <add key="PasswordEmail" value="hele8412"/>
    <add key="HostEmail" value="AFRODITA.equipat.com.mx"/>
  </appSettings>
  <connectionStrings>
    <add name="CadenaConexion_HSW" connectionString="data source=10.0.0.24\HTTSQLSERVE;initial catalog=HSB;persist security info=True;user id=sa;password=*.HSoft2kx;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            La sección <authentication> habilita la configuración 
            del modo de autenticación de seguridad que usa 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. En concreto, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>